
site_name: Queso
site_description: Queso - Design of variational quantum sensing protocols

use_directory_urls: false  # good for opening HTML files directly, but should be 'true' for deployment

theme:
  name: material

#  logo: img/oqd-logo.png

  palette:
  - media: '(prefers-color-scheme: light)'
    scheme: default
    primary: teal
    accent: orange
    toggle:
      icon: material/lightbulb
      name: Switch to dark mode
  - media: '(prefers-color-scheme: dark)'
    scheme: slate
    primary: teal
    accent: orange
    toggle:
      icon: material/lightbulb-outline
      name: Switch to light mode

  features:
  - search.suggest
  - search.highlight
  - content.tabs.link
  - navigation.indexes
  - content.tooltips
  - navigation.path
  - content.code.annotate
  - content.code.copy
  - content.code.select
#  - navigation.tabs

plugins:
  - mkdocstrings


nav:
  - Introduction: index.md
  - Tutorials: tutorials.md
  - How to guides:
      - Welcome: tutorials.md
      - Sensing circuit: examples/optimize_fisher_info.ipynb

  - Reference: reference.md
  - Explanation: explanation.md


markdown_extensions:
  - toc:
      permalink: true
      toc_depth: 4

  # for code snippets/syntax highlighting
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets

  # for notes/admonitions
  - admonition
  - pymdownx.details

  # for flow diagrams
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format

  - pymdownx.arithmatex:
      generic: true

extra_javascript:
  - javascripts/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js